.foo {
	background-color: #fff2ab;
	margin: 0;
	padding: .5rem;
	text-align: center;
}
.foo button {
	margin-bottom: 20px;
	border: none;
	outline: none;	
	padding: 1em 2em;
	cursor: pointer;
	background-color: #1d91bc;
	color: white;
	font-size: 20px;
	border-radius: 10px;
	transition: all ease .3s;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.foo button:hover { 
	background-color: #22a8da;
	transform: translateY(-5px);
	box-shadow: 5px 7px 5px 0px rgba(0,0,0,0.75);
}
.foo button:active {
	transform: translateY(-3px);
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}