<div class="foo">
	<h3>This is Foo Component!</h3>
	<button (click)="addBar()">Add Bar!</button>
	<bar-component *ngFor="let bar of bars" [id]="bar.id" [isOnline]="bar.isOnline"></bar-component>
</div>
