
.form-wrapper {
	display: block;
	padding: 2rem 12rem;
}
.form-wrapper form {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.form-wrapper .form-title {
	margin-bottom: 3rem;
}
.form-group {
	position: relative;
	width: 70%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.form-group:not(:last-child) {
	margin-bottom: 5rem;
}
.form-group .form-label {
	position: absolute;
	top: 2rem;
	left: -15%;
	transition: all ease .3s;
}
.form-group .form-input {
	width: 100%;
	padding: 2rem;
	outline: none;
	border: none;
	border-bottom: 3px solid transparent;
	transition: all ease .5s;
	font-size: 2rem;
	font-family: 'JuraMedium';
	color: black;
}
.form-group .form-input:focus {
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  border-bottom: 3px solid green;
}
.form-group .form-input::-webkit-input-placeholder {
	color: transparent;
}  
.form-group .form-input:placeholder-shown + .form-label {
	left: 2rem;
	color: #d3d3d3;
}
.form-group .form-input.ng-touched.ng-invalid {
	border-bottom: 3px solid red;
}
.lists-wrapper {
	width: 70%;
}
.button-create-list {
	font-family: 'JuraBold';
	text-transform: uppercase;
	font-size: 2rem;
	display: block;
	border-radius: 8px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
	position: relative;
	margin: 0	auto;
	padding: 1rem 12rem;
	background: #199c28;
	color: white;
	outline: none;
	border: none;
}
.button-create-list:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.button-create-list:active {
	transform: translateY(0px);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
.button-create-list:disabled {
	opacity: .5;
	cursor: default;
	transform: translateY(0px);
	box-shadow: none;
}
.warning-message {
	position: absolute;
	margin-top: 1rem;
	right: .5rem;
	bottom: .5rem;
	color: red;
}
.warning-message-cardtitle {
	position: absolute;
	margin-top: 1rem;
	right: .5rem;
	bottom: -.9rem;
	color: red;
}
.warning-message-text {
	position: absolute;
	margin-top: 1rem;
	right: .5rem;
	bottom: 1.7rem;
	color: red;
}
.list-group-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}
.card-create-wrapper:not(:last-child) {
	/* border: 1px black solid; */
	margin-bottom: 8rem;
}
.card-create-wrapper label {
	position: relative;
}

.card-create-wrapper input[type="text"] {
	width: 100%;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	border-bottom: 2px solid transparent;
	transition: all ease .5s;
	font-size: 2rem;
	font-family: 'JuraMedium';
	color: black;
	margin-bottom: 1rem;
}
.card-create-wrapper input[type="text"]:focus {
	border-bottom: 2px solid green;
}
.card-create-wrapper input[type="text"].ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}
.card-label {
	position: absolute;
	top: 0;
	left: -24%;
	transition: all ease .3s;
}
.card-create-wrapper input:placeholder-shown + span.card-label {
	left: 2rem;
	color: #d3d3d3;
}
.card-create-wrapper textarea {
	width: 100%;
	height: 13rem;
	padding: 1rem 2rem;
	outline: none;
	border: none;
	border-bottom: 2px solid transparent;
	transition: all ease .5s;
	font-size: 2rem;
	font-family: 'JuraMedium';
	color: black;
	resize: none;
	margin-bottom: 1rem;
}
.card-create-wrapper textarea:focus {
	border-bottom: 2px solid green;
}
.card-create-wrapper textarea.ng-touched.ng-invalid {
	border-bottom: 2px solid red;
}
.card-text {
	position: absolute;
	top: -11.1rem;
	left: -24%;
	transition: all ease .3s;
}
.card-create-wrapper textarea:placeholder-shown + span.card-text {
	left: 2rem;
	color: #d3d3d3;
}
.button-delete-card {
	font-family: 'JuraBold';
	text-transform: uppercase;
	font-size: 2rem;
	float: right;
	border-radius: 8px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
	position: relative;
	padding: 1rem;
	background: #ff7979;
	color: white;
	outline: none;
	border: none;
}
.button-delete-card:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.button-delete-card:active {
	transform: translateY(0px);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
.button-create-card {
	font-family: 'JuraBold';
	text-transform: uppercase;
	font-size: 2rem;
	display: block;
	border-radius: 8px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
	position: relative;
	margin: 0	auto;
	padding: 1rem;
	background: #4fa2ff;
	color: white;
	outline: none;
	border: none;
}
.button-create-card:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.button-create-card:active {
	transform: translateY(0px);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
.form-group.submit-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	margin-top: 2rem;
}
.warning-submit {
	color: red;
	position: absolute;
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
}