<div class="form-wrapper">
	<form
		[formGroup]="listCreateForm"
		(ngSubmit)="onSubmit()">
		<div class="form-title">
			<h2>Create new List</h2>
		</div>
		<div class="form-group">
			<input 
				type="text"
				class="form-input"
				placeholder="List title"
				formControlName="listName">
			<label class="form-label">List title</label>
			<span 
				*ngIf="!listCreateForm.get('listName').valid && listCreateForm.get('listName').touched"
				class="warning-message">Name is required</span>
		</div>

		<div class="form-group">
			<div class="list-group-wrapper">
				<div formArrayName="cards" class="lists-wrapper">
					<div *ngFor="let cardControl of listCreateForm.get('cards').controls; let i=index" class="card-create-wrapper">
						<div [formGroupName]="i">
							<label>
								<input
									formControlName="cardName"
									type="text"
									placeholder="Card title">
								<span class="card-label">Card title</span>
								<span
								*ngIf="!listCreateForm.controls.cards.controls[i].controls.cardName.valid && listCreateForm.controls.cards.controls[i].controls.cardName.touched"
								class="warning-message-cardtitle">Enter card title</span>
							</label>
							<label>
								<textarea
									formControlName="cardText"
									placeholder="Card text"></textarea>
								<span class="card-text">Card text</span>
								<span
								*ngIf="!listCreateForm.controls.cards.controls[i].controls.cardText.valid && listCreateForm.controls.cards.controls[i].controls.cardText.touched"
								class="warning-message-text">Enter card text</span>
							</label>
							<button type="button" class="button-delete-card" (click)="onDeleteCardForm(i)">Delete this card</button>
						</div>
					</div>
				</div>
				<button type="button" (click)="onAddCardForm()" class="button-create-card">Add card</button>
			</div>
		</div>

		<div class="form-group submit-wrapper">
			<span
				*ngIf="listCreateForm.invalid"
				class="warning-submit">Fill all form fields, please</span>
			<button type="submit" [disabled]="listCreateForm.invalid" class="button-create-list">Create list</button>
		</div>
	</form>
</div>
