.card-wrapper {
	padding: 1rem;
	/* flex: 1 auto; */
}
.card {
	border: 1px solid rgb(192, 192, 192);
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.card-title {
	background-color: #aebcca;
	padding: 1rem 1rem .5rem 1rem;
	text-align: center;
	border-bottom: 5px solid #86929c;
	display: flex;
	justify-content: flex-end;
}
.side-buttons {
	display: flex;
	flex-direction: row;
	margin-left: auto;
}
.side-button {
	font-family: 'JuraBold';
	display: flex;
	width: 18px;
	height: 18px;
	font-size: 15px;
	justify-content: center;
	align-items: flex-start;
	border-radius: 100px;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
}
.side-button:not(:last-child) {
	margin-right: 5px;
}
.side-button:hover {
	transform: translateY(-1px);
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.75);
}
.close-button {
	background: rgba(255,54,98, .3);
	color: white;
}
.edit-button {
	background: rgba(255,218,54, .3);
	color: black;
}
.edit-button:hover {
	background: rgba(255,218,54,1);
}
.close-button:hover {
	background: rgba(255,54,98,1);
}

.card-content {
	padding: .5rem 1rem 1rem 1rem;
	background-color: #f5f5f5;
}