<div class="card-wrapper">
	<div class="card">
		<div class="card-title">
			<span>{{ card.cardTitle }}</span>
			<div class="side-buttons">
				<span 
					class="side-button edit-button"><span>...</span></span>
				<span class="side-button close-button" data-title="Delete list"><span>x</span></span>
			</div>
		</div>
		<div class="card-content">
			<span class="card-paragraph">{{ card.cardContent }}</span>
		</div>
	</div>
</div>