.bar {
	margin: .5rem;
	padding: 1em;
	display: block;
	border: 1px #7f7f7f solid;
	text-align: left;
	border-radius: 10px;
}
.bar h3 {
	margin: 0;
	padding: 0;
}
.online {
	background-color: #a3ffac;
	color: #00780b;
}
.offline {
	background-color: #ffa5a5;
	color: #ea0000;
}