<div class="main-wrapper">
	<div class="header">
		<h3>Welcome on {{ title }}!</h3>
		<div class="header-box">
			<span *ngIf="!userAuthenticated" class="header-warning-message">You are not logged in!</span>
			<span *ngIf="userAuthenticated" class="header-information-message">Now you can create new lists</span>
			<div class="header-buttons">
				<button class="logIn" [disabled]="userAuthenticated" (click)="onLogIn()">LogIn</button>
				<button class="logOut" [disabled]="!userAuthenticated" (click)="onLogOut()">LogOut</button>
			</div>
		</div>
	</div>
	<board-component></board-component>
</div>

