.main-wrapper {
	background-color: #f9e6c2;
	width: 100%;
	height: 100%;
	font-size: 2rem;
}
.header {
	display: block;
	min-height: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f9dca5;
	border-bottom: 5px solid #c59233;
	text-transform: uppercase;
	font-size: 5rem;
}
h3 {
	text-align: center;
}
.header-box {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	height: 120px;
	width: 40rem;
}
.header-warning-message {
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0;
	color: red;
}
.header-information-message {
	font-size: 2rem;
	text-align: center;
	margin: 2rem 0;
	color: green;
}
.header-buttons {
	display: flex;
	justify-content: center;
}
.header-buttons button {
	justify-content: center;
	margin: 0 auto 2rem auto;
	width: 40%;
	padding: 1rem 2rem;
	border: none;
	border-radius: 8px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
	color: white;
	outline: none;
	backface-visibility: hidden;
}
.header-buttons button.logIn {
	background-color: #4fa2ff;
}
.header-buttons button.logOut {
	background-color: #ff7979;
}
.header-buttons button:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.header-buttons button:active {
	transform: translateY(0px);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}

.header-buttons button:disabled {
	opacity: .5;
	box-shadow: none;
	transform: translateY(0px);
	cursor: default;
}
