
.list-wrapper {
	display: inline-block;
	min-width: 350px;
	max-width: 400px;
}
.list {
	display: block;
	margin: 1rem;
	background-color: rgb(226, 231, 255);
	border: 1px solid rgb(192, 192, 192);
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.list-title {
	background-color: #aebcca;
	padding: 1rem 1rem .5rem 1rem;
	border-bottom: 5px solid #86929c;
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.side-buttons {
	display: flex;
	align-self: flex-end;
	position: relative;
}
.side-button {
	font-family: 'JuraBold';
	display: flex;
	width: 23px;
	height: 23px;
	font-size: 17px;
	justify-content: center;
	align-items: flex-start;
	border-radius: 100px;
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
}
.side-button:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.side-button:not(:last-child) {
	margin-right: 5px;
}
.close-button {
	background: linear-gradient(to bottom right, #ff3662, #ff3737);
	color: white;
}
.side-button:hover:after { 
	opacity: 1;
	visibility: visible
}
.edit-button {
	background: linear-gradient(to bottom, #ffda36, #fff237);
	color: black;
}
.edit-button.side-button:after {
	right: 10px; top: 30px;
	background-color: #fdffbc;
}
.list-content {
	padding: 3rem 3rem 5rem 3rem;
	background-color: #f5f5f5;
}
.side-button.edit-button.pressed {
	border-radius: 100px 100px 0 0;
}
.side-button.edit-button.pressed:hover {
	transform: translateY(0);
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
}

.edit-dropdown {
	position: absolute;
	top: 23px;
	left: 0px;
	background-color: #fff237;
	width: 380%;
	list-style-type: none;
	font-size: 2.5rem;
	visibility: hidden;
	opacity: 0;
	transition: all ease .5s;
	box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
	border-radius: 0px 10px 10px 10px;
	overflow: hidden;
	z-index: 10;
}
.edit-dropdown li {
	padding: .5rem 2rem;
	cursor: pointer;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
	background-size: 220%;
	transition: all ease .5s;
}
.edit-dropdown li:hover {
	background-position: 100%;
}
.side-button.edit-button.pressed + .edit-dropdown {
	visibility: visible;
	opacity: 1;
}