<div class="list-wrapper">
	<div class="list">
		<div class="list-title">
			<div class="side-buttons">
				<span 
					[ngClass]="getStyle()"
					(click)="onMenuButtonClick()"
					data-title="Edit list">...
				</span>
				<ul class="edit-dropdown">
					<li (click)="onViewDetails(list)">View details</li>
					<li>Option 2</li>
					<li>Option 3</li>
					<li>Option 4</li>
					<li>Option 5</li>
				</ul>
				<span class="side-button close-button" data-title="Delete list" (click)="onDelete()"><span>x</span></span>
			</div>
			<span>{{ list.listTitle }}</span>
		</div>
		<div class="list-content">
			<card-component
				*ngFor="let card of list.listContent"
				[card]="card">
			</card-component>
		</div>
	</div>
	
</div>
