
.board {
	display: block;
	width: 100%;
	min-height: 85vh;
}
.board-title {
	min-height: 10vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	font-size: 3rem;
}
