<div class="lists-cocpit">
	<div *ngIf="tempLists.length>0; else info">
		<span>We have some lists there!</span>
		<span 
			class="button-newList"
			routerLink="/list_create">Create new</span>
	</div>
	<ng-template #info>
		<span>We have no lists!</span>
		<span 
			class="button-newList"
			routerLink="/list_create">Create new</span>
	</ng-template>
</div>
<div class="lists-wrapper">
	<list-component
		*ngFor="let list of tempLists"
		[list]="list"
		(closeButtonPressed)="onClose(list)">
	</list-component>
</div>