
.lists-wrapper {
	min-width: 100%;
	display: flex;
	padding: 0 3rem 3rem 3rem;
	overflow-x: auto;
}

.lists-cocpit {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-family: 'JuraBold';
	font-size: 3rem;
	padding: 2rem;
}
.button-newList {
	font-size: 2rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	border-radius: 8px;
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
	cursor: pointer;
	transition: all ease .3s;
	position: relative;
	margin: 0	2rem;
	padding: .5rem 1rem;
	background:#128820;
	color: white;
	outline: none;
}
.button-newList:hover {
	transform: translateY(-1px);
	box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
}
.button-newList:active {
	transform: translateY(0px);
	box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}
