/* You can add global styles to this file, and also import other style files */

@font-face {
	font-family: 'JuraMedium';
	src: url('./fonts/JuraMedium.eot');
	src: url('./fonts/JuraMedium.eot') format('embedded-opentype'),
		url('./fonts/JuraMedium.woff2') format('woff2'),
		url('./fonts/JuraMedium.woff') format('woff'),
		url('./fonts/JuraMedium.ttf') format('truetype'),
		url('./fonts/JuraMedium.svg#JuraMedium') format('svg');
}
@font-face {
	font-family: 'JuraBold';
	src: url('./fonts/JuraBold.eot');
	src: url('./fonts/JuraBold.eot') format('embedded-opentype'),
			 url('./fonts/JuraBold.woff2') format('woff2'),
			 url('./fonts/JuraBold.woff') format('woff'),
			 url('./fonts/JuraBold.ttf') format('truetype'),
			 url('./fonts/JuraBold.svg#JuraBold') format('svg');
}
	
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* defining 1rem */
	font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5% */
	box-sizing: border-box;
	font-family: 'JuraMedium';
}

body {
	user-select: none;
}
