<div class="list-details-wrapper">
	<div class="list-details">
		<div class="list-title">{{ list.listTitle }}</div>
		<div class="list-d-card-wrapper">
			<div class="list-card-wrapper"
				*ngIf="list.listContent.length>0; else infoText">
				<card-component
					*ngFor="let card of list.listContent"
					[card]="card">
				</card-component>
			</div>
			<ng-template #infoText>
				<span>No lists now to see details!</span>
			</ng-template>
		</div>
		
	</div>
</div>