.list-details-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}
.list-details {
	width: 75%;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	background-color: rgb(226, 231, 255);
	border: 1px solid rgb(192, 192, 192);
	border-radius: 5px;
	box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.list-title {
	background-color: #aebcca;
	padding: 1rem 1rem .5rem 1rem;
	border-bottom: 5px solid #86929c;
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.list-d-card-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 3rem 3rem 5rem 3rem;
	background-color: #f5f5f5;
}
.list-card-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0;
}